<table cellpadding="10" border="1" style="border-collapse: collapse">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Post</th>
			<th>Email</th>
			<th>Salary</th>
			<th>Department</th>
		</tr>
	</thead>
	<tbody style="text-align:center">
		<% @employees.each do |employee|%>
		<tr>
			<td><%= employee.id %></td>
			<td><%= employee.name %></td>
			<td><%= employee.post %></td>
			<td><%= employee.email %></td>
			<td><%= employee.salery %></td>
			<td><%= employee.department.name %></td>
			<td><%= link_to 'Show', employee %></td>
			<td><%= link_to 'Edit', edit_employee_path(employee) %></td>
			<td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm: "Are You Sure?"}%></td>
		</tr>
		<% end%>
	</tbody>
</table>
