<%= form_for @employee do |f|%>
<% if @employee.errors.any? %>
<div>
	<h3><%= pluralize(@employee.errors.count,"error") %> prohibited this department from being saved</h3>
	<ul>
		<% @employee.errors.full_messages.each do |msg|%>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<table cellpadding="10">
	<tr>
		<td> <%= f.label :name %> </td>
		<td> <%= f.text_field :name , :required => 'required', placeholder: "Enter Name" %> </td>
	</tr>
	<tr>
		<td> <%= f.label :post%> </td>
		<td> <%= f.text_field :post , :required => 'required', placeholder: "Enter Post"%> </td>
	</tr>
	<tr>
		<td> <%= f.label :email%></td>
		<td> <%= f.text_field :email , :required => 'required', placeholder: "Enter Email"%></td>
	</tr>
	<tr>
		<td> <%= f.label :email_confirmation%></td>
		<td> <%= f.text_field :email_confirmation , :required => 'required', placeholder: "Confirm Email"%></td>
	</tr>
	<tr>
		<td> <%= f.label :salery %> </td>
		<td> <%= f.text_field :salery , :required => 'required', placeholder: "Enter Salery"%> </td>
	</tr>
	<tr>
		<td> <%= f.label :department_id %> </td>
		
		<td> <%= collection_select(:employee, :department_id, Department.all, :id, :name, {:prompt => true}, :class => 'department') %> </td>
		<%-#<%= select("employee", "department_id", Department.all.collect {|d| [ d.name, d.id ] }, { include_blank: true },{:class=>"department"}) %>
	</tr>
	<tr>
		<td> <%= f.submit%> </td>
	</tr>
</table>
<%end%>