<!-- <script src="/JS/ajaxreq.js.erb"></script> -->
<script>
	$(document).ready(function() {
		$("#search").bind('keyup', submitform);
		$("#ajaxsearch").bind('keyup', ajaxSearchRequest);
	});

	function onfocustext() {
		console.log("onfocustext");
		var v = $('#search').val();
		$('#search').val(v);
	}
</script>
<h2>Employees Table</h2>
<%= link_to "New Employee", new_employee_path %>
<br />
<br />
<div>
	<%= form_tag employees_path, :id =>'searchform', :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search], autofocus: true, :onfocus => "this.value = this.value;", list:"namelist",  size: 45,autocomplete: "off",  placeholder: "Search for Name of Employee or Department" %>
		<datalist id="namelist">
			<% Employee.all.each do |emp| %> <option value="<%= emp.name %>"> <% end %>
			<% Department.all.each do |dept| %> <option value="<%= dept.name %>"> <% end %>
		</datalist>
		<%= submit_tag "Search", :name => nil %>
	</p>
	<% end %>
	<p >
		<%= text_field_tag :ajaxsearch, params[:ajaxsearch], :onfocus => "this.value = this.value;", list: "namelist", size: 50,autocomplete: "off",  placeholder: "Ajax Search for Name of Employee or Department" %>
	</p>
</div>

<br />
<div id="emplist">
	<%= render 'employeelist' %>
</div>

<% if params[:search] %>
<% if params[:search].length>0 %>
<%= will_paginate @employees %>
<% end %>
<% end %>
<%= link_to "Home", controller: :home %>
