<h2>Employees</h2>
<%= link_to "New Employee", new_employee_path %>
<br />
<br />
<div>
	<%= form_tag employees_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
	<% end %>
</div>
<br />
<table cellpadding="10" border="1" style="border-collapse: collapse">
	<thead>
		<tr>
			<th>Employee ID</th>
			<th>Employee Name</th>
			<th>Employee Post</th>
			<th>Employee Salery</th>
			<th>Employee Department</th>
		</tr>
	</thead>
	<tbody>
		<% @employees.each do |employee|%>
		<% department=Department.find(employee.department_id) %>
		<tr>
			<td><%= employee.id %></td>
			<td><%= employee.name %></td>
			<td><%= employee.post %></td>
			<td><%= employee.salery %></td>
			<td><%= department.name %></td>
			<td><%= link_to 'Show', employee %></td>
			<td><%= link_to 'Edit', edit_employee_path(employee) %></td>
			<td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm: "Are You Sure?"}%></td>
		</tr>
		<% end%>
	</tbody>
</table>

<%= link_to "Home", controller: :home %>
