<h2>Employee</h2>
<table cellpadding="10">
	<tr>
		<td> <strong>Employee Name:</strong> </td>
		<td> <%= @employee.name %> </td>
	</tr>
	<tr>
		<td> <strong>Employee Post:</strong> </td>
		<td> <%= @employee.post %> </td>
	</tr>
	<tr>
		<td> <strong>Employee Email:</strong></td>
		<td> <%= @employee.email %></td>
	</tr>
	<tr>
		<td> <strong>Employee Salary:</strong> </td>
		<td> <%= @employee.salery %> </td>
	</tr>
	<tr>
		<td> <strong>Employee Department:</strong> </td>
		<td> <%= @employee.department.name %> </td>
	</tr>
</table>
<%= link_to 'Edit', edit_employee_path(@employee) %>&nbsp;&nbsp;
<%= link_to 'Delete', employee_path(@employee), method: :delete, data: {confirm: "Are You Sure?"}%>&nbsp;&nbsp;
<%= link_to 'Employees', employees_path %>&nbsp;&nbsp;
<%= link_to "Home", controller: :home %>