<h2>Department</h2>
<table cellpadding="10">
	<tr>
		<td> <strong>Department Name:</strong> </td>
		<td> <%= @department.name %> </td>
	</tr>
	<tr>
		<td> <strong>Department Task:</strong> </td>
		<td> <%= @department.task%> </td>
	</tr>
	<tr>
		<td> <strong>Department Location:</strong> </td>
		<td> <%= @department.location%> </td>
	</tr>
</table>
<<<<<<< HEAD
<<<<<<< HEAD
=======
<% if @department.employees.length>0 %>
>>>>>>> d23902d781f23deeabd8c5eabec3a8d605f44d8b
<ul>
<h3>Employees</h3>
<% @department.employees.each do |employee| %>
<li><%= employee.name %> &nbsp;&nbsp;&nbsp;<%= link_to 'Show', employee %></li>
<% end %>
</ul>
<<<<<<< HEAD
=======
<%end%>
>>>>>>> d23902d781f23deeabd8c5eabec3a8d605f44d8b
=======
<% if @department.employees.length>0 %>
<ul>
<h3>Employees</h3>
<% @department.employees.each do |employee| %>
<li><%= employee.name %> <%= link_to 'Show', employee, :style => 'padding-left:2em' %></li>
<% end %>
</ul>
<%end%>
>>>>>>> b53bec187dedaf125278d3c31d962686c6e347eb
<%= link_to 'Back', departments_path %>&nbsp;&nbsp;
<%= link_to "Home", controller: :home %>